* {
  text-decoration: none;
}

/* header {
  width: 100%;
  height: 100px;
  background-color: #07c;
} */

.main-window {
  display: grid;
  grid-template-columns: 3fr;
  min-height: 500px;
  text-align: center;
  align-content: center;
}
